.color-card {
    /* position: relative; */
    min-width: 100px;
    min-height: 100px;
    height: 10vw;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.color-card:active {
  transform: scale(0.97);
}

.color-card__name {
  /* position: absolute; */
  bottom: 1.5em;
  left: 8px;
  border: none;
  outline: none;
  /* background-color: white; */
  border-radius: 4px;
  /* padding: 1px; */
  font-size: 1.3em;
  text-transform: uppercase;
  /* opacity: 0.3; */
  transition: all ease 300ms;
  margin-left: 5px;
  height: 22px;
  display: flex;
  align-items: center;
}
  
/* .color-card__code:hover {
  cursor: pointer;
  opacity: 0.6;
} */

.color-card__name:active {
  transform: scale(0.97);
}

.color-card_yield {
  /* position: absolute; */
  bottom: 0.1em;
  left: 8px;
  border: none;
  outline: none;
  /* background-color: white; */
  border-radius: 4px;
  padding: 1px;
  font-size: 1.3em;
  text-transform: uppercase;
  /* opacity: 0.3; */
  transition: all ease 300ms;
  margin: 5px;
}