@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('../fonts/NanumSquareRoundB.ttf') format('truetype');
}

#root {
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(242, 240, 235);    
    /* justify-items: 'center';
    align-items: center; */
    position: relative;
    top: 0;
}

.homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 20rem;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    /* overflow-y: hidden; */
}

html {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* height: 100%; */
}





