@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('../fonts/NanumSquareRoundB.ttf') format('truetype');
}

.mainContainer {
    position: relative;
    width: 100%;
    font-family: 'NanumSquareRoundB';
    padding-top: 0.6rem;
    padding-bottom: 4rem;
}

.chartContainer {
    height: 24rem;
    margin-top: 0.4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.1rem 0 0.1rem gray, -0.1rem 0 .4rem gray;
    border-radius: 0.2rem;
    margin-bottom: 1.4rem;
    /* z-index: 100; */
    background-color: rgb(249,249,249);
}

.dateSelectorContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.6rem;
    position: fixed;
    bottom: 0rem;
    justify-content: center;
    background-color: rgb(242, 240, 235);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    box-shadow: 0.1rem 0 0.1rem gray, -0.1rem 0 .4rem gray;

}

.dateAdjustButton {
    display: inline-block;
}

.dateText {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    line-height: 2rem;
}

.itemScrollBoxContainer {
    /* height: fit-content; */
    /* position: fixed; */
    /* bottom: 3.8rem; */
    margin-bottom: 1.0rem;
}


.chartItemName {
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
}


.top30HeraderContainer {
    display: flex;
    flex-direction: row;
    /* margin-top: 2rem; */
}

.top30DateText  {
    /* margin-top: 2rem; */
    width:fit-content;
    margin-left: 1rem;
    color: brown;
    font-size: 1.2rem;
    /* height: 1.4rem;
    line-height: 1.4rem; */
    margin-top: 0.8rem;
    
}

.top30HeaderText {
    width:fit-content;
    margin-left: 1rem;
    /* color: brown; */
    font-size: 1.2rem;
    /* height: 1.4rem;
    line-height: 1.4rem; */
    margin-top: 0.8rem;
}

.aa {
    /* padding-top: 0.2rem; */
    position: sticky;
    bottom: 0;
    background-color:  rgb(242, 240, 235);
}

.resortCorrCardBtnContainer {
    width: 1rem;
}

.newsContainer {
    height: 24rem;
    margin-top: 0.4rem;
    width: fit-content;
    margin-left:0.6rem;
    margin-right: auto;
    box-shadow: 0.1rem 0 0.1rem gray, -0.1rem 0 .4rem gray;
    border-radius: 0.2rem;
    margin-bottom: 1.4rem;
    /* z-index: 100; */
    background-color: rgb(249,249,249);
    padding-left: 0.4rem;
    
}

.top30NewsContainer {
    display: inline-block;
    height: 10rem;
    /* background-color: yellow; */
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.corrNewsContainer {
    display: inline-block;
    height: 10rem;
    /* background-color: yellow; */
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.newsHeaderText {
    font-size: 0.8rem;
    white-space:nowrap;
    margin-bottom: 0.4rem;
    /* width: fit-content; */
}

.newsPublishedText {
    font-size: 0.4rem;
}